#form-region {
	position: absolute;
	top: 			50%;
	left: 		50%;
	width: 		400px;
	transform: translate(-50%, -50%);
	z-index: 	5001;
	background: white;
	@include border-radius(5px);
	@include box-shadow(rgba(0,0,0,0.15) -10px 20px 25px);

	label {
		margin-bottom: 0;
		padding-bottom: 0;
		width: 100%;
	}

	input {
		width: 100%;
	}

	.inline-list {
		padding: 10px 10px 0 0;
	}

	a { 
		color: $font-black; 
		text-decoration: underline;
		&:hover {
			color: $blue;
		}
	}
}

form {
	padding: 20px;
}

.form-header {
	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
	font-size: 1.6rem;
	font-weight: normal;
}

.panel {
	background: white;
	border: none;
}



