// fonts
body, #{headings()}, p, li, a, i { color: white;}
#header-region, .contain-to-grid, .top-bar, .top-bar-section ul li {
	height: 60px;
	background-color: $blue;
		#{headings()},li,a,span,icon,p {
			color: 		white;
		}
	ul, li, a, h3 {
		height: 60px;
		line-height: 60px;
	}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: $blue;
	&:hover {
		background: $blue;
	}
}
.top-bar-section ul li {
	color: white;
	&:hover {
		cursor: pointer;
	}
	span, i {
		font-size: 1rem;
	}
}
h3 {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}