#user-region {
	width: 100%;
	padding: 20px 20px 0 0;
	border-bottom: 1px solid $vl-gray;
}
#user-actions {
	padding-left: 10px;
}
#user-buttons {
	margin: 0;
}

#user-stats {
	li {
		color: $font-black;
	}
}