<div id="wrap">
	<div id="form-region"></div>
	<div id="header-region"></div>
	<div id="user-region"></div>
	<div id="market-region"></div>
</div>

<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function(){
		Payrollsio.start({
			environment: "<%= Rails.env %>"
		});
	});
<% end %>