<div id="wrap">
	<div id="header-region">
		<header>	
			<div class="contain-to-grid">
				<nav class="top-bar">
					<ul class="title-area">
						<li class="name">
							<h1>
								<a href="#">
									<div id="logo">
										<h3>Payrollsio</h3>
									</div>
									Planet Express
								</a>
							</h1>
				    	</li>
					</ul>
					<section class="top-bar-section">
				    <ul id="nav-links" class="right">
				    	<li>Login</li>
				    </ul>
				  </section>
				</nav>
			</div>
		</header>
	</div>
	<div id="main-region"></div>
	<div id="push"></div>
</div>

<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function(){
		Payrollsio.start({
			environment: "<%= Rails.env %>"
		});
	});
<% end %>